@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body{
    background:#302A50;
}

.section-wrapper{
    background:#302A50;
}

#app{
    font-family: 'Titillium Web', sans-serif;
    color:#ffffff;
}

.header-page{
    min-height: 500px;
    height: auto;
}